@model prjHealthCareSystem.Models.Appointment

@{
    ViewData["Title"] = "Create Appointment";
}

<h1>Create</h1>

<h4>MedicalAppointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group mb-3">
                <label asp-for="InsurancePolicyId" class="control-label fw-bold"></label>
                
                <select asp-for="InsurancePolicyId" class="form-select" asp-items="ViewBag.InsurancePolicyId">
                    <option value="">-- Select an Active Policy --</option>
                </select>
                <span asp-validation-for="InsurancePolicyId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" value="Scheduled" readonly />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create Appointment" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>